<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
	
	<!--http://vignette3.wikia.nocookie.net/yugioh/images/6/64/Favicon.ico/revision/20081023013117-->
	<link rel="icon" type="image/icon" href="images/Favicon.ico" />
	
	<!-- CSS styles -->
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="content/main.css" />
	
	<!--Scripts-->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/services/requests.js"></script>
	<script type="text/javascript" src="scripts/controllers/mainController.js"></script>
	
</head>
<body ng-app="app" ng-controller="mainController">

	<title>{{title}}</title>

	<div class="container">
		
		<!--Title-->
		<div class="page-header">
			<h1>{{title}}</h1>
		</div>
		
		<div class="row marginBottom">
			
			<!--Spinner-->
			<div class="row">
				<div class="col-md-3 col-md-offset-5">
					<img src="images/loading.gif" class="img-responsive" alt="Loading cards..." ng-show="loadingData">
				</div>
			</div>
			
			<!--Cards List-->
			<div class="col-md-4" ng-hide="loadingData">
				<table class="table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Select a card</th>
						</tr>
					</thead>
					<tbody height="{{tableHeight}}">
						<tr ng-repeat="card in cards track by $index">
							<td>
								<div class="row" ng-click="showCardInfo($index)">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-12 marginTop marginLeft">{{card.name}}</div>
										</div>
										<div class="row">
											<div class="col-md-4 col-md-offset-9">{{card.card_type}}</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>				
			</div>
			
			<!--Cards Details-->
			<div class="col-md-8" ng-show="viewInfo">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 cardTitle">{{cardToShow.name}}</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-2 marginBottom">
						<img ng-src="{{cardToShow.imageUrl}}" class="img-responsive" alt="Card Image">
					</div>
					<div class="col-md-5">
						<div class="row infoClass marginBottom">
							<div class="col-md-6 infoTitle">Card Type</div>
							<div class="col-md-6 infoBody">{{cardToShow.card_type}}</div>
						</div>
						<div class="row infoClass marginBottom" ng-show="cardToShow.type">
							<div class="col-md-6 infoTitle">Type</div>
							<div class="col-md-6 infoBody">{{cardToShow.type}}</div>
						</div>
						<div class="row infoClass marginBottom" ng-show="cardToShow.family">
							<div class="col-md-6 infoTitle">Family</div>
							<div class="col-md-6 infoBody">{{cardToShow.family}}</div>
						</div>
						<div class="row infoClass marginBottom" ng-show="checkAttribute(cardToShow.level)">
							<div class="col-md-6 infoTitle">Level</div>
							<div class="col-md-6 infoBody">{{cardToShow.level}}</div>
						</div>
						<div class="row">
							<div class="col-md-6 marginBottom" ng-show="checkAttribute(cardToShow.atk)">
								<div class="row infoClass">
									<div class="col-md-6 infoTitle">ATK</div>
									<div class="col-md-6 infoBody">{{cardToShow.atk}}</div>
								</div>
							</div>
							<div class="col-md-6 marginBottom" ng-show="checkAttribute(cardToShow.def)">
								<div class="row infoClass">
									<div class="col-md-6 infoTitle">DEF</div>
									<div class="col-md-6 infoBody">{{cardToShow.def}}</div>
								</div>
							</div>
						</div>
						<div class="row infoClass marginBottom" ng-show="cardToShow.property">
							<div class="col-md-6 infoTitle">Property</div>
							<div class="col-md-6 infoBody">{{cardToShow.property}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="row infoClass marginBottom">
							<div class="col-md-3 infoTitle">Card Text</div>
							<div class="col-md-9 textBody">{{cardToShow.text}}</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</body>
</html>

