.cardClass :hover {
	cursor: pointer;
}

.cardTitle {
	font-size: 40px;
	text-align: center;
	margin-bottom:30px;
}

.infoClass{
	border-style: solid;
	border-width: 2px;
	border-color: lightgray;
    -webkit-border-radius: 4px !important;
    border-bottom-radius: 4px !important;
}

.infoTitle {
	font-size:15px;
	font-weight: bold;
	text-align:left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.infoBody {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.textBody {
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 5px;
}

.marginTop {
	margin-top: 5px;
}

.marginBottom {
	margin-bottom: 10px;
}

.marginLeft {
	margin-left: 5px;
}

table {
	width: 100%
}

thead, tbody, th, td, tr {
	display: block;
}

th {
	padding-top: 2px;
	height:30px;
	text-align:center;
}

td {
	height: 50px;
	cursor: pointer;
}

tbody {
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d0d0d0;
}